main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-curso{
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
    border-radius: 15px;
    align-items: center;
    background-color: #3a3a3a;
}

#add-curso form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

textarea{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

#add-curso input[type="text"]{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
}

#add-curso input[type="submit"]{
    background-color: #E6C72B;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: ease 0.3s;
}

#add-curso input[type="submit"]:hover{
    background-color: #e9c92c;
    box-shadow: #E6C72B 0px 0px 10px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(80, 80, 80);
    color: white;
    font-family: 'Roboto';
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 0;
    padding: 20px;
}

tr{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    gap: 15px;
}

td{
    width: 10%;
    text-align: left;
    word-break: break-all;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

tbody{
    width: 100%;    
}

#topo-tabela{
    background-color: rgba(50, 50, 50, 0.344);
    color: #E6C72B;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 5px;
    margin: auto;
    margin-bottom: 0;
    width: 97%;
}

#topo-tabela a{
    background-color: #E6C72B;
    color: rgb(50, 50, 50);
    border-radius: 10px;
    text-decoration: none;
    padding: 15px;
}

main{
    margin: 20px;
    width: 80%;
}

.btn-editar{
    background-color: #E6C72B;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
    transition: ease 0.3s;
}

.btn-editar:hover{
    background-color: #edd147;
    box-shadow: #E6C72B 0px 0px 10px;
}

.btn-deletar{
    background-color: #e62b2b;
    color: white;
    text-decoration: none;
    border: none;
    padding: 7px;
    border-radius: 5px;
    transition: ease 0.3s;
}

.btn-deletar:hover{
    background-color: #ff4c4c;
    box-shadow: #e62b2b 0px 0px 10px;
}

.butoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#btnAddCurso{
    background-color: #E6C72B;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: ease 0.3s;
}

#btnAddCurso:hover{
    background-color: #edd147;
    box-shadow: #E6C72B 0px 0px 10px;
}

.modal-content{
    background-color: #3a3a3a;
}

tbody tr:hover {
    background-color: rgba(230, 199, 43, 0.15);
}