form{
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
    width: 50%;
    margin: 60px auto;
    background-image: linear-gradient(to right, #1d1c1c, #262626);
    padding: 20px;
    border-radius: 15px;
    border: solid 2px #444;
}

input{
    background-color: white;
    border: none;
    color: #303030;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
}

#mensagem{
    width: 90%;
    height: 100px;
    resize: none;
}

form button{
    background-image: linear-gradient(to right, #E6C72B, #e6b618);  
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
    font-size: 20px;
    align-self: center;
    margin: 10px;
    transition: ease 0.3s;
}

form button:hover{
    box-shadow: 0px 0px 10px #fdd92790;
    background-image: linear-gradient(to right, #e4c736, #e2ba34);
    transform: scale(1.05);
}

textarea{
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: left;
    resize: none; 
    height: 100px;
    line-height: normal;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

main h2{
    text-align: center;
    color: white;
    margin-top: 40px;
    font-size: 2.3em;
}

#faq{
    margin: 60px auto;
    color: white;
    padding: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq-item {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    background-image: linear-gradient(to right, #1d1c1c, #262626);
    padding: 15px;
    border-radius: 5px;
}

.faq-item h3 {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: ease 0.3s;
}

.faq-item p {
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.faq-item.active h3 {
    color: #E6C72B;
}

.faq-item.active p {
    max-height: 200px;
    margin-top: 20px;
}

.faq-item:hover {
    background-color: #3a3a3a;
}

#mensagem-status {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2ecc71;
    color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.4s ease;
    z-index: 9999;
  }

  #mensagem-status.erro {
    background: #2ecc71; 
  }

  #mensagem-status.visivel {
    opacity: 1;
    transform: translateY(0);
  }