body{
    color: #ffffff;
}

#title h2{
    color: #ffffff;
    font-family: 'monstserrat', sans-serif;
    font-size: 4rem;
    margin: 0;
    text-shadow: #ffffff 0px 0px 5px;
}

#title p{
    color: #b3b3b3;
    font-size: 20px;
    font-family: 'Roboto';
}

#inicio a{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #E6C72B, #e6b618);
    text-decoration: none;
    width: 15%;
    color: #ffffff;
    font-family: 'montserrat', sans-serif;
    font-size: 25px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px #ffe87456;
    transition: all 0.3s ease-in-out;
    margin-bottom: 230px;
}

#title a:hover{
    background-color: #fadd4b;
    box-shadow: 0px 4px 20px #ffe35576;
    text-shadow: 0px 0px 10px #ffffff;
    transform: translateY(-5px);
}

#title{
    width: 40%;
    margin: 120px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

#inicio{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
    background-image: url('Mídias/imagem-home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
}

body.light #inicio{
    background-image: url('Mídias/imagem-sobre.png');
}

#inicio::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; 
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0), #101010); 
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: start;
    gap: 20px;
    margin: 50px;
    box-shadow: 0px 4px 10px #00000056;
    max-width: 500px;
}

#beneficios{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#beneficios p{
    font-family: 'Roboto';
    font-size: 20px;
    color: #ffffff;
    margin: 0;
    max-width: 400px;
}

#beneficios h2{
    font-family: 'montserrat', sans-serif;
    font-size: 50px;
}

#beneficios a{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #E6C72B, #e6b618);
    text-decoration: none;
    width: 70%;
    color: #ffffff;
    font-family: 'montserrat', sans-serif;
    font-size: 25px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px #ffe87456;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
}

#beneficios a:hover{
    background-color: #fadd4b;
    box-shadow: 0px 4px 20px #ffe35576;
    text-shadow: 0px 0px 10px #ffffff;
    transform: translateY(-5px);
}

#beneficios img{
    width: 40%;
    height: auto;
    border-radius: 15px;
    margin-right: 50px;
    box-shadow: 0px 4px 10px #00000056;
}

#beneficios2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

#beneficios2 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    backdrop-filter: blur(50px);
    background-image: linear-gradient(to right, #1d1c1c, #262626);
}

#beneficios2 .container h2{
    font-family: 'montserrat', sans-serif;
    font-size: 25px;
    margin-bottom: 5px;
}

span{
    color: #E6C72B;
}

hr{
    border: 1px solid #E6C72B;
    width: 100%;
}

#avaliacao-corpo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
    gap: 20px;
}

.avaliacao h3{
    font-family: 'montserrat', sans-serif;
    font-size: 30px;
}

.avaliacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(50px);
    background-image: linear-gradient(to right, #1d1c1c, #262626);
    border: solid 2px #444;
}

.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.estrelas{
    width: 120px;
    height: auto;
}