main{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    align-items: flex-start;
    padding: 20px;
    background-color: #2c2c2c;
    color: white;
}

h1{
    color: #E6C72B;
}

hr{
    display: flex;
    width: 101%;
    align-self: center;
    border: 2px solid #E6C72B;
    margin: 10px 0;
}

#correta i{
    color: #4BB543;
}

#incorreta i{
    color: #FF0000;
}

#prova-status{
    background-color: #2c2c2c;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin: 20px auto;
}

#voltar{
    background-color: #E6C72B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: ease 0.3s;
    text-decoration: none;
    display: inline-block;
    transition: ease 0.3s;
}   

#voltar:hover{
    background-color: #e6c72b99;
}