body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    background-color: rgb(80, 80, 80);
    color: white;
    font-family: 'Roboto';
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 0;
    padding: 20px;
}

tr{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td{
    width: 10%;
    text-align: left;
    word-break: break-all;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

tbody{
    width: 100%;    
}

h2{
    background-color: rgb(50, 50, 50);
    color: #E6C72B;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: auto;
    margin-bottom: 0;
    width: 76.5%;
}

main{
    margin: 20px;
    width: 80%;
}

td a{
    background-color: #E6C72B;
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
}
.modal-content {
    background: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
}
.close {
    position: absolute;
    right: 15px; top: 10px;
    font-size: 25px;
    cursor: pointer;
}

h4{
    margin-bottom: 15px;
    color: white;
    background-color: rgb(80, 80, 80);
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 0;
    width: 77.8%;
    display: flex;
    align-self: center;
    justify-self: center;
}

textarea { width: 100%; }
button { padding: 8px 16px; margin-top: 10px; }