body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(80, 80, 80);
    color: white;
    font-family: 'Roboto';
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 0;
    padding: 20px;
}

tr{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td{
    width: 10%;
    text-align: left;
    word-break: break-all;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

tbody{
    width: 100%;    
}

h2{
    background-color: rgba(50, 50, 50, 0.344);
    color: #E6C72B;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 5px;
    margin: auto;
    margin-bottom: 0;
    width: 97%;
}

main{
    margin: 20px;
    width: 80%;
}

.btn-editar{
    background-color: #E6C72B;
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

.btn-deletar{
    background-color: #e62b2b;
    color: white;
    text-decoration: none;
    border: none;
    padding: 7px;
    margin-left: 5px;
    border-radius: 5px;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background: white;
    padding: 20px;
    width: 450px;
    border-radius: 10px;
    animation: pop .2s ease;
}

@keyframes pop { from { transform: scale(.8); opacity:0; } to { transform: scale(1); opacity:1; } }

.fechar {
    float: right;
    font-size: 22px;
    cursor: pointer;
    color: #333;
}